/* Color palette */

:root {
  --perrywinkle: #70b3dd;
  --seafoam-blue: #61c5c5;
  --french-blue: #4874ac;
}

body {
	padding: 10px;
}

header {
  font-family: Roboto;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #574751;
}

/*#roomlist-panel {
	width: 50%;
	float: left;
}

#feedlist-panel {
	width: 50%;
	float: right;
}*/

#roomlist-panel h2 {
  font-family: OpenSans;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #70b3dd;
}

#roomlist-panel p {
  width: 37px;
  height: 19px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #76623d;
}

.header
{
  height: 25%;
  background-color: #4874ac;

}

#title {
  font-family: OpenSans;
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
#subtitle {
  font-family: OpenSans;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
}

.lista h2 {
  font-family: OpenSans;
  font-size: 24px;
  font-weight: bold;
}

.feedlista h2, p {
  margin: 10px;
  color: #ffffff;
}

.header-row {
  margin: 10px 10px;

}

.room-row {
	vertical-align: center;
}

.emergency-10 {
	background-color: #70b3dd;
}

.emergency-20 {
	background-color: #61c5c5;
}

.emergency-30 {
	background-color: #9b9b9b;
}
